{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% set showSiteMenu = false %}

{% set sections = craft.sections.getAllSections() %}

{% set handle = craft.app.request.getQueryParam('handle') %}

{% set blockName = craft.app.request.getQueryParam('block') %}

{% set entries = craft.matrixInventory.listEntries(handle, blockName) %}
{% set title = 'Entries with ' ~ handle ~ ' - ' ~ blockName ~ ' block' %}

{% block header %}
    <p><a href="matrix?handle={{ handle }}">< Back to Blocks in {{ handle }}</a></p>
{% endblock %}
{% block content %}
    {#{{ entries|json_encode }}#}
    <div class="tableview tablepane">
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Entry Title</th>
                    <th>Edit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for entryRecord in entries %}
                    {% set entry = craft.entries.anyStatus.id(entryRecord.entryId).one %}
                    {% if entry %}
                        <tr>
                            <td>{{ entry.section }}</td>
                            <td><a href="{{ entry.url }}">{{ entry.title }}</a></td>
                            <td><a href="{{ entry.cpEditUrl }}">Edit Entry</a></td>
                            <td><span class="status {{ entry.status }}"></span></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ entryRecord.entryId }}</td>
                            <td>NULL</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block footer %}
    <p><a href="matrix?handle={{ handle }}">< Back to Blocks in {{ handle }}</a></p>
{% endblock %}